* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: column;
    max-width: 296px;
    width: 100%;
    height: 1262px;
    background: #14171F;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 242px;
    width: 100%;
    padding: 16px;
}

.border {
    display: flex;
    border-top: 1px solid #7B62FF;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #7B62FF;
    gap: 8px;
    padding: 15px;
}

.avatarInfo {
    display: flex;
    flex-direction: column;
    color: white;
}

.student {
    color: #929699;
}

.dashboard {
    color: #929699;
    margin-top: 48px;
    padding: 15px;
}

.Dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.course {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 12px;
}

.classes {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 12px;
}

.Assignment {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 12px;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 12px;
}

.Groups {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start; 
    margin-top: 20px;
    gap: 12px;
}

.Forum {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start; 
    margin-top: 20px;
    gap: 12px;
}

.analytics_border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3D414B;
    max-width: 248px;
    width: 100%;
    margin-top: 48px;
}